div {
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  background-color: #;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #30c050 
;
}

p {
  font-size: 18px;
  font-weight: bold;
}

.game-item {
  background: transparent; /* Retire le fond vert */
  border: none; /* Retire toute bordure si présente */
  padding: 80px; /* Ajustez selon vos besoins */
  margin: 10px 0; /* Espace entre les jeux */
  display: flex;
  align-items: center;
}

.game-item img {
  width: 50px; /* Ajustez la taille de l'icône selon vos besoins */
  height: 50px;
  margin-right: 10px;
}

.game-item span {
  color: white; /* Couleur du texte */
  font-size: 18px; /* Taille du texte */
}

button.game-item {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: inherit;
}
